* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.logo {
    width: 150px;
}

.nav-link, .nav-link:focus {
    color: white;
    transition: font-weight 0.1s ease-in-out;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

.user-icon {
    width: 30px;
}

.nav-cont-2 {
    width: 130px;
}

.nav-cont-2 a {
    color: white;
    text-decoration: none;
}